.page-etica-empresarial{
    .content-page-full{
        padding: 0;
    }
    .region-content{
        .field--type-text-long{
            .field--label{
                display: none;
            }
            h3{
                color: $mainColor;
                margin-bottom: 30px;
                margin-top: 70px;
                text-transform: uppercase;
            }
            .mailto{
                border-bottom: 1px solid $mainColor;
                color: $mainColor;
                display: inline;
                font-size: 15px;
                font-weight: 300;
                letter-spacing: normal;
                text-transform: none;
                &::before{
                    display: none;
                }
                svg{
                    border: 0;
                }
            }
            .ext{
                font-size: 15px;
                font-weight: normal;
                letter-spacing: normal;
                text-transform: none;
            }
        }
    }
}