.page-newsflash,
.page-noticias {
    form {
        .control-label {
            display: none;
        }
    }

    .container-podcast {
        width: 100%;
    }

    h2 {
        margin-top: 0px;
    }

    .block-title {
        margin-bottom: 17px;
    }

    .date {
        color: #898989;
        font-family: $mainFont;
        font-size: 12px;
        margin-bottom: 14px;
    }

    .podcast-subhome {
        .row {
            margin-bottom: 33px;
            padding-bottom: 35px;
            position: relative;

            &::after {
                content: '';
                background: #e7e7e7;
                bottom: 0;
                display: block;
                height: 1px;
                left: 0px;
                position: absolute;
                width: 100%;
            }

            &:last-child {
                &::after {
                    display: none !important;
                }
            }
        }
    }

    .views-row {
        margin-bottom: 0px;
    }

    .content-new {
        margin-bottom: 0px !important;
        width: 100%;

        .title-new,
        .title-new .field--item a {
            color: $secondColor;
            font-family: $mainFont;
            font-size: 14px;
            line-height: 20px;
        }

        &.last-child {
            margin-bottom: 0px !important;
        }
    }

    .select-wrapper {
        margin-bottom: 20px;

        .select-hide {
            display: none;
        }
    }

    .pager__item {
        margin-left: 0;

        .btn-arrow {
            width: 270px;
        }
    }

    .content-other-news {
        padding: 25px 20px !important;

        .title-new {
            margin-top: 0px;
        }

        .link-red {
            &::after {
                font-size: 22px;
            }
        }
    }

    .more-block {
        .content-other-news {
            .content-new {
                margin-bottom: 26px !important;
                padding-bottom: 27px;
                position: relative;

                &::after {
                    content: '';
                    background: #e7e7e7;
                    bottom: 0;
                    display: block;
                    height: 1px;
                    left: 0px;
                    position: absolute;
                    width: 100%;
                }

                .title-new {
                    margin-top: 7px;
                }

                &:nth-child(3) {
                    &::after {
                        display: none;
                    }
                }
            }

            h2 {
                a {
                    color: $blackTxt ;
                    font-family: $mainFont !important;
                    font-size: 18px !important;
                    font-weight: 600 !important;
                }
            }

            .links {
                .link-red {
                    &::after {
                        right: -30px;
                    }
                }
            }
        }
    }
}

.page-node-type-noticia,
.page-node-type-bulletin {
    .more-block {
        .content-other-news {
            .content-new {
                margin-bottom: 26px !important;
                padding-bottom: 27px;
                position: relative;

                &::after {
                    content: '';
                    background: #e7e7e7;
                    bottom: 0;
                    display: none;
                    height: 1px;
                    left: 0px;
                    position: absolute;
                    width: 100%;
                }

                .title-new {
                    margin-top: 7px;
                }

                &:nth-child(3) {
                    &::after {
                        display: none;
                    }
                }
            }

            h2 {
                a {
                    color: $blackTxt ;
                    font-family: $mainFont !important;
                    font-size: 18px !important;
                    font-weight: 600 !important;
                }
            }

            .links {
                .link-red {
                    &::after {
                        right: -30px;
                    }
                }
            }
        }
    }

    .content-other-news {
        padding: 25px 20px !important;

        .title-new {
            margin-top: 0px;
        }

        .link-red {
            &::after {
                font-size: 22px;
            }
        }
    }

    .content-new {
        margin-bottom: 13px !important;
    }
}

.page-boletines {
    .content-other-news {
        padding: 25px 20px !important;

        .title-new {
            margin-top: 0px;
        }

        .link-red {
            &::after {
                font-size: 22px;
            }
        }

        h2 {
            margin-top: 10px;

            a {
                font-family: $mainFont !important;
                font-size: 18px !important;
            }
        }
    }

    .content-new {
        margin-bottom: 13px !important;
    }
}

.page-podcast {
    .sidebar-news {
        .sidebar-info {
            .content-other-news {
                padding: 32px 26px;

                .content-new {
                    margin-bottom: 7px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    .content-other-news {
        .title-new {
            margin-top: 0px;
        }

        .link-red {
            &::after {
                font-size: 22px;
            }
        }

        h2 {
            margin-top: 10px;

            a {
                font-family: $mainFont !important;
                font-size: 18px !important;
            }
        }
    }
}

.page-recursos {
    .content-other-news {
        padding: 25px 20px !important;

        .title-new {
            margin-top: 0px;
        }

        .link-red {
            &::after {
                font-size: 22px;
            }
        }

        h2 {
            margin-top: 10px;

            a {
                font-family: $mainFont !important;
                font-size: 18px !important;
            }
        }
    }

    .content-new {
        margin-bottom: 13px !important;
    }
}

.page-noticias {
    .content-other-news {
        h2 {
            margin-top: 10px;

            a {
                font-family: $mainFont !important;
                font-size: 18px !important;
                font-weight: 600;
            }
        }
    }
}

.page-informes {
    .content-other-news {
        padding: 25px 20px !important;

        .title-new {
            margin-top: 0px;
        }

        .link-red {
            &::after {
                font-size: 22px;
            }
        }

        h2 {
            margin-top: 10px;

            a {
                font-family: $mainFont !important;
                font-size: 18px !important;
            }
        }
    }

    .content-new {
        margin-bottom: 13px !important;
    }
}

.page-eventos {
    .content-other-news {
        padding: 25px 20px !important;

        .title-new {
            margin-top: 0px;
        }

        .link-red {
            &::after {
                font-size: 22px;
            }
        }

        h2 {
            margin-top: 10px;

            a {
                font-family: $mainFont !important;
                font-size: 18px !important;
            }
        }
    }

    .content-new {
        margin-bottom: 13px !important;
    }
}

.page-node-type-podcast {
    .others-news-sidebar {
        &:first-child {
            .first-link {
                margin-top: 26px;
                padding-top: 27px;
            }
        }
    }
}

.page-node-type-memoria {
    .others-news-sidebar {
        &:first-child {
            .first-link {
                margin-top: 26px;
                padding-top: 27px;

                a {
                    &::after {
                        right: -30px !important;
                    }
                }
            }
        }
    }

    .content-other-news {
        padding: 25px 20px !important;

        .title-new {
            margin-top: 0px;
        }

        .link-red {
            &::after {
                font-size: 22px;
            }
        }

        h2 {
            margin-top: 10px;

            a {
                font-family: $mainFont !important;
                font-weight: 600;
                font-size: 18px !important;
            }
        }
    }

    .content-new {
        margin-bottom: 13px !important;
    }
}

.page-newsflash {
    .content-other-news {
        h2 {
            margin-top: 10px;

            a {
                font-family: $mainFont !important;
                font-size: 18px !important;
            }
        }
    }
}

.page-insights {
    aside {
        .title-block {
            color: rgb(0, 45, 115);

        }
    }
}

@media screen and (max-width: 960px) {
    .page-newsflash {
        .content-new {
            max-width: 100%;
            width: 100% !important;
        }

        .podcast-subhome {
            .row {
                margin-bottom: 19px;
                padding-bottom: 21px;
            }
        }
    }

    article {
        &.memoria {
            padding: 0 30px;
        }
    }
}