@charset "UTF-8";

.select-wrapper {
	font-family: $thirdFont;
	position: relative;
	text-align: left;

	.form-select {
		display: none;
	}
}

.select-selected,
.chosen-container {
	background: $bk;
	cursor: pointer;
	height: 50px;
	line-height: 50px;
	position: relative;

	&:after {
		content: "\e903";
		color: $secondColor;
		font-size: 16px;
		position: absolute;
		right: 18px;
		top: 3px;
		@extend %icons;
	}

	&.select-arrow-active {
		&:after {
			content: "\e904";
		}
	}
}

.chosen-container {
	height: auto;
	min-height: 50px;

	&.chosen-with-drop {
		&:after {
			content: "\e904";
		}
	}
}

.chosen-container-multi {
	.chosen-choices {
		align-items: center;
		background: $lightColor;
		border: 0;
		box-shadow: none;
		cursor: pointer;
		color: $blackTxt;
		font-family: $mainFont;
		font-size: 14px;
		padding: 0px 16px;

		&:hover,
		&:focus {
			box-shadow: none;
		}

		li {
			&.search-choice {
				background: $lightColor;
				border: 0;
				box-shadow: none;
				color: $blackTxt;
				margin: 14px 5px 7px;
				z-index: 999;

				.chosen-search-input {
					display: none;
				}

				&.search-field {
					display: none;
				}

				.search-choice-close {
					background: url(../img/close-red.svg) no-repeat center;
					background-size: 8px;

					&:hover,
					&:focus {
						background: url(../img/close-red.svg) no-repeat center;
						background-size: 8px;
						opacity: 0.8;
					}
				}
			}
		}
	}

	.chosen-drop {
		background: $lightColor;
		border: 0;
		border-bottom: 1px solid $border;
		box-shadow: none;
		color: $placeholder;
		cursor: pointer;
		font-size: 14px;
		overflow: hidden;
		padding: 0 0 10px;
		padding-left: 16px;

		.chosen-results {
			color: $placeholder;

			li {
				border-top: 1px solid $border;
				color: $placeholder;
				margin: 0 0px;
				padding: 10px 0;

				&:hover,
				&:focus {
					background: transparent;
				}

				&.result-selected {
					background: transparent;
					color: $secondColor;
					cursor: pointer;
					font-size: 14px;

					&:hover,
					&:focus {
						background: transparent;
					}
				}

				&.highlighted {
					background: transparent;
				}
			}
		}
	}
}

.select-items div,
.select-selected {
	color: $placeholder;
	cursor: pointer;
	font-size: 14px;
	overflow: hidden;
	padding: 0 16px;
	padding-right: 50px;
	text-overflow: ellipsis;
	user-select: none;
	white-space: nowrap;

	&.same-as-selected {
		color: $secondColor;
	}
}

.select-selected {
	color: hex-to-rgba($placeholder, 0.5);

	&.select-selected-active {
		color: $blackTxt;
	}
}

.select-items {
	background: $bk;
	left: 0;
	position: absolute;
	right: 0;
	top: 100%;
	z-index: 99;

	div {
		border-top: 1px solid $border;
		margin: 0 25px;
		padding: 10px 0;
	}
}

.select-hide {
	display: none;
}

.select-items div:hover,
.same-as-selected {
	color: $secondColor;
}

.head-forms {
	margin: 0 auto;
	max-width: 795px;
	text-align: center;

	p {
		color: $gray;
		font-size: 15px;
		line-height: 20px;

		&.title-form {
			color: $mainColor;
			font-size: 30px;
			font-weight: bold;
			line-height: 33px;
			margin-bottom: 11px;
		}
	}

	.title-form {
		color: $mainColor;
		font-size: 30px;
		font-weight: bold;
		line-height: 33px;
		margin-bottom: 11px;
	}

	&:after {
		background: $secondColor;
		content: "";
		display: block;
		margin: 42px auto 45px;
		height: 4px;
		width: 28px;
	}
}

form {
	&.webform-submission-boletin-form {
		.form-item.panel {
			.panel-heading {
				display: none;
			}
		}
	}

	.panel {
		background: transparent;
		border: 0;
		box-shadow: none;

		.panel-body {
			border: 0;
			padding: 0;
		}
	}

	.captcha {
		.g-recaptcha {
			div {
				display: block;
				margin: 0 auto;
			}
		}
	}

	.form-actions {
		text-align: center;

		.form-submit {
			display: inline-block;
			height: 46px;
			line-height: 46px;
			margin: 20px auto;
			width: auto;
			@extend %btn-arrow;
		}

		.js-hide {
			display: none;
		}
	}

	.form-item {
		input {
			background: $bk;
			border: 0;
			border-radius: 0;
			box-shadow: none;
			color: $blackTxt;
			font-family: $thirdFont;
			font-size: 14px;
			height: 50px;
			padding-left: 18px;

			@include placeholder {
				color: $placeholder;
			}
		}

		.hasDatepicker {
			background: url(../img/calendar.svg) no-repeat 94% center $bk;
			background-size: 24px;
		}

		&.form-type-select {
			.select-wrapper {
				select {
					background: $bk;
					border: 0;
					border-radius: 0;
					box-shadow: none;
					color: $placeholder;
					font-family: $thirdFont;
					font-size: 14px;
					height: 50px;
					line-height: inherit;
					padding-left: 18px;

					option {
						color: $blackTxt;
					}
				}

				&:after {
					display: none;
				}
			}
		}

		&.form-type-textarea {
			textarea {
				background: $bk;
				border: 0;
				border-radius: 0;
				box-shadow: none;
				color: $placeholder;
				font-family: $thirdFont;
				font-size: 14px;
				min-height: 169px;
				padding-left: 18px;
				padding-top: 12px;
			}
		}

		&.form-type-checkbox {
			padding-left: 20px;

			label {
				color: $gray;
				font-family: $thirdFont;
				font-size: 14px;
			}

			input {
				background: $bk;
				border: 0;
				border-radius: 0;
				box-shadow: none;
				cursor: pointer;
				height: 25px;
				margin-left: -40px;
				margin-top: 0;
				outline: none;
				width: 25px;
				@include prefix(appearance, none, webkit moz o ms);

				&:checked {
					background: url(../img/check2.svg) no-repeat center center;
					background-color: $bk;
					background-size: 16px;
				}
			}
		}

		&.form-type-webform-document-file {
			position: relative;

			.form-managed-file {
				background: $bk;
				cursor: pointer;
			}

			.file {
				background: $bk;
				border: 0;
				border-radius: 0;
				box-shadow: none;
				color: $gray;
				cursor: pointer;
				display: block;
				font-family: $mainFont;
				font-size: 14px;
				height: 50px;
				line-height: 50px;
				padding-left: 25px;
				width: 100%;

				.file-icon {
					display: none;
				}

				.file-link,
				.file-size {
					background: transparent;
					border: 0;
					color: $gray;
					font-weight: normal;
				}

				.file-link {
					width: 87.5%;
				}
			}

			.btn-danger {
				background: transparent;
				border: 0;
				font-size: 0;
				height: 30px;
				margin-top: -15px;
				position: absolute;
				right: 15px;
				top: 50%;
				width: 30px;
				z-index: 1;

				span {
					color: $secondColor;
					font-size: 15px;
				}

				.ajax-throbber {
					display: none;
				}
			}
		}
	}

	.captcha {
		margin: 38px 0 15px;
	}

	&.webform-submission-contacto-form {
		margin: 0 auto;
		max-width: 795px;

		.panel-heading {
			display: none;
		}

		.form-item {
			&.panel {
				margin: 0;
			}

			.form-item {
				&.form-item-nombre {
					width: 100%;
				}

				display:inline-block;
				float: right;
				margin-bottom:30px;
				margin-right:0;
				vertical-align:top;
				width:49%;

				input,
				select {
					width: 100%;
				}
			}

			&:nth-child(2n) {
				float: left;
			}

			&.form-type-select,
			&.form-type-textarea {
				margin: 0;
				margin-bottom: 30px;
				float: inherit;
				width: 100%;
			}

			&.form-item-si-doy-autorizacion-expresa-para-el-tratamiento-de-los-datos-aqu {
				float: none;
			}
		}

		.form-actions {
			.form-submit {
				font-size: 18px;
				padding: 0 17px 0 42px;

				&:after {
					padding-left: 34px;
					@include prefix(transform, translateY(-3px), webkit moz o ms);
				}
			}
		}
	}
}

.webform-submission-inscripcion-evento-form {
	#edit-oblogatorios {
		color: $mainColor;
		font-size: 13px;
		font-family: $secondFont;
		font-weight: bold;
		margin: 0;
		margin-bottom: 36px;
		text-transform: inherit !important;
	}

	.form-type-select {
		display: none;
	}

	.form-item-acepto-los-terminos-y-condiciones {
		input {
			border: 1px solid #dd235c !important;
		}

		.help-block {
			display: inline-block;

			.webform-element-description {
				a {
					color: $mainColor;
				}
			}
		}
	}

	#edit-grande-contribuyentes {
		display: none;
	}

	.captcha {
		margin: 15px 0;

		.panel-heading {
			display: none;
		}
	}
}

.block-newsletter {
	background: $mainColor;
	padding: 0;

	&.form-desplegado {
		form {
			.open-newsletter {
				margin-bottom: 0;
			}

			.form-actions {
				margin-bottom: 0;

				.form-submit {
					margin-bottom: 38px;
					margin-top: 36px;
				}
			}
		}
	}

	.form-type-processed-text {
		margin: 0 auto 30px;
		max-width: 660px;
		text-align: center;

		h2 {
			color: $lightColor;
			font-family: $secondFont;
			font-size: 32px;
			font-weight: 100;
			margin-top: 15px;
		}

		p {
			color: $lightColor;
			font-size: 20px;
			line-height: 20px;
		}
	}

	.form-type-select {
		background: $lightColor;
		height: 50px;
		overflow: hidden;
		position: relative;
		width: 100%;
	}

	form {
		margin: 0 auto;
		max-width: 835px;
		padding-top: 31px;

		.chosen-container {
			position: relative;

			.search-field {
				.chosen-search-input {
					color: transparent !important;
				}

				&:before {
					content: '\00c1reas de pr\00e1 ctica';
					color: $placeholder;
					font-family: $thirdFont;
					font-size: 14px;
					position: absolute;
					top: 0px;
					left: 22px;
				}
			}

			&.chosen-container-active {
				.search-field {
					&:before {
						display: none;
					}
				}
			}
		}

		.panel {
			background: transparent;
			border: 0;
			box-shadow: none;
			margin: 40px 0 0;

			&.captcha {
				.help-block {
					color: $lightColor !important;
				}
			}
		}

		.open-newsletter {
			display: none;
			width: 100% !important;

			.form-item-area-de-practica {
				label {
					display: none;
				}

				.select2-selection--multiple {
					cursor: pointer;
				}

				ul {
					padding: 0 18px;
					position: relative;

					li {
						margin-right: 10px;
						position: relative;

						span {
							color: $secondColor;
							position: absolute;
							right: -7px;
						}
					}
				}
			}
		}

		.despliegue {
			.despliegue-formulario {
				@extend %btn-arrow;
			}
		}

		.panel-body {
			border: 0;
			padding: 0;

			.form-item {
				margin: 0;

				.form-item {
					&.form-item-nombre {
						width: 100%;
					}

					display:inline-block;
					margin:0;
					margin-bottom:18px;
					margin-right:18px;
					vertical-align:top;
					width: 48%;

					&:nth-child(2n) {
						margin-right: 0;
					}

					input {
						background: $lightColor;
					}

					&.js-form-item-nombre-completo {
						//width:402px;
					}

					&.js-form-item-correo-electronico-,
					&.js-form-item-empresa {
						//width:194px;
					}

					&.js-form-item-empresa {
						margin-right: 0px;
					}

					&.form-type-select {
						width: 98.5%;
					}
				}

				&.form-type-select {
					margin: 0;
					position: relative;
					width: 98.5%;

					.select2-selection--multiple {
						border: none;
					}

					.webform-select2 {
						color: $gray;
						font-family: $mainFont;
						font-size: 16px;
						height: 50px;
						padding-left: 18px;

						::-webkit-input-placeholder {
							color: #888;
							font-weight: 400;
							$size: 16px;
						}

						::-moz-placeholder {
							color: #888;
							font-weight: 400;
							$size: 16px;
						}

						::-ms-input-placeholder {
							color: #888;
							font-weight: 400;
							$size: 16px;
						}
					}

					.select2-container {
						.select2-search__field {
							::-webkit-input-placeholder {
								color: #888;
								font-weight: 400;
								$size: 16px;
							}

							::-moz-placeholder {
								color: #888;
								font-weight: 400;
								$size: 16px;
							}

							::-ms-input-placeholder {
								color: #888;
								font-weight: 400;
								$size: 16px;
							}

							color:#888;
							font-weight: 400;
							font-size: 14px;
						}

						ul {
							li {
								background: transparent;
								border: none;
								color: #959595;
								font-weight: 400;
								font-size: 16px;
								padding-left: 0px;
								margin-top: 16px;

								@include placeholder {
									color: $placeholder;
								}

								input {
									margin-top: -17px;
									padding-left: 0px;

									::-webkit-input-placeholder {
										color: #888;
										font-weight: 400;
										$size: 16px;
									}

									::-moz-placeholder {
										color: #888;
										font-weight: 400;
										$size: 16px;
									}

									::-ms-input-placeholder {
										color: #888;
										font-weight: 400;
										$size: 16px;
									}

									@include placeholder {
										color: $placeholder;
									}
								}
							}
						}
					}

					.select-wrapper {
						.select-selected {
							background: $lightColor;
							border: 0;
							border-radius: 0;
							color: #959595;
							font-family: $thirdFont;
							font-size: 14px;
							height: 50px;
							padding-left: 18px;
						}

						.select-items {
							background: $lightColor;

							div {
								margin: 0 18px;

								&:hover {
									font-weight: bold;
									color: $blackTxt;
								}
							}
						}

						.same-as-selected {
							&:hover {
								font-weight: bold;
								color: $blackTxt;
							}
						}

						&:after {
							content: none;
						}
					}
				}
			}
		}

		.form-actions {
			margin: 0 0 40px;
			text-align: center;

			.form-submit {
				margin-bottom: 35px;
				margin-top: 40px;
				margin-left: 1px;
				width: auto;
				@extend %btn-arrow;
			}
		}
	}
}

html[lang="en"] {
	.block-newsletter {
		form {
			.chosen-container {
				.search-field:before {
					content: "Practice areas";
				}
			}
		}
	}

	form {
		.form-item.form-item-adjuntar-hoja-de-vida {
			.form-managed-file {
				.uploader {
					.filename {
						font-size: 0;

						&:before {
							content: "Attach resume";
							font-size: 14px;
						}
					}
				}
			}
		}
	}

	.webform-submission-pasantias-verano-inscripcion-form {
		.form-managed-file {
			.uploader {
				.filename {
					font-size: 0;

					&:before {
						content: "";
					}
				}
			}
		}

		.form-item.form-item-adjuntar-hoja-de-vida {
			.form-managed-file {
				.uploader {
					.filename {
						&:before {
							content: "";
						}
					}
				}
			}
		}

	}
}

.path-user {
	.user-login-form {
		display: grid;
		gap: 8px;
		max-width: 1030px;
		margin: 180px auto 20px;

		.form-item {
			display: grid;
			gap: 8px;

			input {

				&:focus,
				&:focus-visible {
					outline: none;
				}
			}
		}

		.form-actions {
			.form-submit {
				width: auto;
			}
		}
	}
}

.webform-submission-alumni-inscription-form,
.webform-submission-pasantias-verano-inscripcion-form,
.webform-submission-trabaje-con-nosotros-inscripcion-form {
	max-width: 792px;
	margin: 0 auto;

	.form-group {
		margin-bottom: 26px;
	}

	.select-selected {
		color: $placeholder;

		&.select-selected-active {
			color: $blackTxt;
		}
	}

	.form-item {
		display: inline-block;
		vertical-align: top;
		width: 49%;

		&:nth-child(even) {
			margin-right: 6px;
		}

		&:nth-child(odd) {
			margin-left: 6px;
		}

		&.head-forms {
			display: block;
			margin: 0 auto;
			width: 100%;

			&:after {
				margin-bottom: 35px;
			}
		}

		input {
			padding-left: 23px;
		}

		&.panel,
		&.form-item-otros-idiomas,
		&.form-item-perfil-profesional {
			width: 100%;
		}

		&.form-item-perfil-profesional {
			margin-bottom: 20px;

			textarea {
				font-family: $mainFont;
				padding: 30px 26px;
			}
		}

		&.panel,
		&.form-item-adjuntar-hoja-de-vida {
			margin-left: 0;
		}

		.panel-heading {
			background: $bk;
			border: 0;
			margin-bottom: 29px;

			.panel-title {
				color: $gray;
				font-family: $thirdFont;
				font-size: 14px;
				height: 50px;
				line-height: 50px;
				padding: 0;
				padding-left: 18px;
				position: relative;

				&:after {
					content: "\e904";
					color: $secondColor;
					font-family: $iconFont;
					font-size: 18px;
					position: absolute;
					right: 21px;
					top: 3px;
				}

				&.collapsed {
					&:after {
						content: "\e903";
					}
				}
			}
		}

		.fieldgroup {
			width: 100%;

			.form-item {
				margin: 0;
				margin-bottom: 23px;
				width: 100%;
			}
		}

		.panel-body {
			.fieldset-legend {
				color: $secondColor;
				display: block;
				font-size: 14px;
				line-height: 20px;
				margin-bottom: 18px;
			}

			.form-item {
				margin-left: 0;
			}
		}
	}

	.form-type-webform-document-file {
		width: 100%;

		.control-label {
			display: none;
		}

		.form-item {
			width: 100%;
		}

		.description {
			display: none;
		}
	}

	.form-actions {
		margin-bottom: 0;

		.form-submit {
			font-size: 18px;
			line-height: 44px;
			margin: 34px auto 0;
			padding: 0 30px 0 48px;

			&:after {
				margin-top: -4px;
				padding-left: 15px;
			}
		}
	}
}

.webform-options-display-two-columns {
	.form-item {
		margin-bottom: 26px;
		padding-left: 24px;

		.control-label {
			font-size: 13px;
		}
	}
}

.webform-submission-trabaje-con-nosotros-inscripcion-form {
	.form-item {
		&.head-forms {
			&:after {
				margin-bottom: 49px;
			}
		}
	}

	.form-type-webform-document-file {
		margin-bottom: 14px;
	}

	.form-actions {
		.form-submit {
			padding: 0 24px 0 40px;

			&:after {
				padding-left: 30px;
			}
		}
	}
}

.form-item {
	.uploader {
		height: 50px;
		line-height: 50px;
		width: 100%;

		.filename {
			background: $bk;
			border: 0;
			border-radius: 0;
			box-shadow: none;
			color: $gray;
			cursor: pointer;
			font-family: $mainFont;
			font-size: 14px;
			height: 50px;
			line-height: 50px;
			padding-left: 25px;
			width: 100%;

			&:after {
				content: "\e919";
				color: $secondColor;
				font-family: $iconFont;
				font-size: 26px;
				position: absolute;
				top: 0;
				right: 23px;
			}
		}

		.action {
			display: none;
		}
	}
}


.form-inline {
	.form-control {
		width: 100%;
	}
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
	appearance: none;
}

input[type="number"]:hover,
input[type="number"]:focus {
	appearance: none;
	-moz-appearance: number-input;
}

.path-webform {
	footer {
		.block-newsletter {
			margin-top: 93px;
		}
	}
}

.webform-options-display-two-columns {
	column-gap: 42px;
}

.webform-submission-pasantias-verano-inscripcion-form {

	#ajax-wrapper,
	#ajax-wrapper--2 {
		display: inline-block;
		width: 48%;

		.control-label {
			display: block;
			color: $gray;
			font-family: $mainFont;
			font-size: 14px;
			font-weight: normal;

			&:after {
				content: "*";
				background: none;
				color: $gray;
				font-size: 14px;
			}
		}
	}

	#ajax-wrapper {
		&+div {
			display: inline-block;
			width: 48%;
		}
	}

	#ajax-wrapper--2 {
		margin-left: 30px;
		width: 47%;
	}

	.form-actions {
		.form-submit {
			margin: 55px auto 0;
		}
	}

	.captcha {
		margin: 0;

		.panel-heading {
			display: none;
		}
	}
}


@media screen and (max-width:960px) {
	.block-newsletter {
		padding: 0 30px;

		figure {
			margin: 34px 0 15px;
		}

		form {
			.panel-body {
				.form-item {
					.form-item {
						width: 100% !important;

						&.js-form-item-nombre-completo {
							//width:276px;
						}
					}
				}
			}

			.form-type-select {
				background: $lightColor;
				height: 61px;
				overflow: hidden;
				position: relative;
				width: 100%;

				&:after {
					content: "\e903";
					color: $secondColor;
					font-family: $iconFont;
					font-size: 16px;
					position: absolute;
					right: 18px;
					top: 20px;
				}
			}

			select.js-webform-chosen {
				background: $lightColor;
				border: 0;
				border-radius: 0;
				box-shadow: none;
				color: #959595;
				cursor: pointer;
				font-family: $thirdFont;
				font-size: 16px;
				height: 60px;
				line-height: 60px;
				padding-left: 25px;
				position: relative;
				width: 100%;
			}
		}
	}

	.webform-submission-alumni-inscription-form,
	.webform-submission-pasantias-verano-inscripcion-form,
	.webform-submission-trabaje-con-nosotros-inscripcion-form {
		.form-item {
			width: 48%;
		}
	}

	.webform-submission-pasantias-verano-inscripcion-form {

		#ajax-wrapper,
		#ajax-wrapper--2 {
			width: 47%;

			.form-item {
				width: 100%;
			}
		}
	}

	form {
		.form-item {
			&.form-type-webform-document-file {
				.form-managed-file {
					background: $bk;
					width: 100%;
				}

				.file {
					.file-link {
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
						width: 115px;
					}

					.file-link,
					.file-size {
						display: inline-block;
					}
				}
			}
		}
	}
}

.form-item {
	.uploader {
		.filename {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			width: 80%;
		}
	}
}

@media screen and (max-width:767px) {
	.head-forms {
		margin-bottom: 40px;

		p {
			&.title-form {
				color: $mainColor;
				font-size: 30px;
				line-height: 33px;
				margin-bottom: 10px;
			}
		}

		&:after {
			content: none;
		}
	}

	form {
		&.webform-submission-contacto-form {
			margin: 0 auto;

			.form-item {
				.form-item {
					display: block;
					margin-bottom: 23px;
					margin-right: 0px;
					width: 100%;
				}

				&:nth-child(2n) {
					float: inherit;
				}

				&.form-type-select,
				&.form-type-textarea {
					margin-bottom: 23px;
				}
			}
		}

		.captcha {
			.g-recaptcha {
				margin: 0 auto;
				-webkit-transform: scale(0.8);
				-moz-transform: scale(0.8);
				-ms-transform: scale(0.8);
				-o-transform: scale(0.8);
				transform: scale(0.8);
			}
		}
	}

	.block-newsletter {
		.form-type-processed-text {
			h2 {
				line-height: 30px;
				margin-bottom: 18px;
			}

			p {
				font-size: 16px;
				line-height: 22px;
			}
		}

		form {
			padding-top: 36px;

			.despliegue {
				.despliegue-formulario {
					margin: 54px auto 60px;
				}
			}

			.panel {
				margin-top: 50px;
			}

			.panel-body {
				.form-item {
					&.form-type-select {
						.select-wrapper {
							select {
								font-size: 16px;
								height: 61px;
								padding-left: 25px;
							}

							&:after {
								margin-top: -6px;
								right: 11px;
							}
						}
					}

					.form-item {
						margin-bottom: 29px;
						margin-right: 0;
						width: 100%;

						input {
							font-size: 16px;
							height: 61px;
							padding-left: 25px;
						}

						&.js-form-item-nombre-completo,
						&.js-form-item-correo-electronico-,
						&.js-form-item-empresa {
							width: 100%;
						}
					}
				}
			}

			.form-actions {
				.form-submit {
					margin-bottom: 26px;
					margin-left: 4px;
					margin-top: 12px;
					line-height: 60px;

					&:after {
						font-size: 25px;
						padding-left: 44px;
						vertical-align: -4px;
					}
				}
			}
		}

		&.form-desplegado {
			form {
				.form-actions {
					.form-submit {
						margin-bottom: 65px;
						margin-top: 12px;
					}
				}
			}
		}
	}

	.webform-submission-alumni-inscription-form,
	.webform-submission-pasantias-verano-inscripcion-form,
	.webform-submission-trabaje-con-nosotros-inscripcion-form {
		.form-item {
			padding: 0;
			width: 100%;

			&:nth-child(even) {
				margin-right: 0;
			}

			&:nth-child(odd) {
				margin-left: 0;
			}

			&.head-forms {
				margin-bottom: 30px;
			}

			.fieldgroup {
				padding: 0;
			}

			.hasDatepicker {
				background-size: 20px;
			}
		}
	}

	.webform-options-display-two-columns {
		-moz-column-count: 1;
		-webkit-column-count: 1;
		column-count: 1;
	}

	.webform-submission-pasantias-verano-inscripcion-form {

		#ajax-wrapper,
		#ajax-wrapper+div,
		#ajax-wrapper--2 {
			margin-left: 0;
			width: 100%;
		}
	}
}

@media screen and (max-width:320px) {
	form {
		.captcha {
			-webkit-transform: translateX(-20px);
			-moz-transform: translateX(-20px);
			-ms-transform: translateX(-20px);
			-o-transform: translateX(-20px);
			transform: translateX(-20px);
		}
	}
}

// fixes page guides download 



.webform-submission-descarga-informe-form {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 18px;
	justify-content: center;
	margin-top: 50px;

	p {
		font-size: 18px;
		margin-bottom: 32px;
	}


	.form-item {
		margin: 0;

		input {
			background: transparent;
			border: 1px solid $lightGray;
			border-radius: 0;
			box-shadow: none;
			color: $blackTxt;
			font-family: $thirdFont;
			font-size: 14px;
			min-height: 50px;
			width: 100%;

			@include placeholder {
				color: $placeholder;
			}

			&:hover,
			&:focus {
				outline: none;
			}
		}

	}

	.captcha {
		.panel-heading {
			display: none;
		}

		.help-block {
			font-size: 12px;
		}
	}

	.form-actions {
		text-align: center;

		.form-submit {
			height: 58px;
			line-height: 54px;
			letter-spacing: 2px;

			&:after {
				font-size: 22px;
				margin-left: 25px;
				padding: 0;
				transform: rotate(90deg);
			}

			&:hover {
				&:after {
					animation: none;
				}
			}

			.icon {
				display: none;
			}
		}
	}
}


@media (min-width:1180px) {

	.webform-submission-descarga-informe-form {
		flex-direction: row;
		flex-wrap: wrap;

		.form-item {
			margin: 0;
			width: calc(50% - 18px);
		}

		.form-type-processed-text,
		.captcha,
		.form-actions {
			width: 100%;
		}
	}
}