.subscribe {
    background-color: $mainColor;
    padding: 34px 0 55px;
    text-align: center;

    figure {
        margin-bottom: 11px;
    }

    .title {
        color: $lightColor;
        @extend %title-sections;
    }

    .description {
        color: $lightColor;
        font-family: $mainFont;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 0;
        @extend %txt-description;
    }

    .button {
        color: $lightColor !important;
        margin-top: 25px;
        max-width: 310px;
        @extend %btn-arrow;
    }
}

#block-formularioweb {
    figure {
        margin: 14px auto;
        max-width: 55px;
    }
}

@media screen and (max-width: 960px) {
    .subscribe {
        padding: 72px 15px 90px;

        .title {
            font-weight: bold;
            font-size: 30px;
            line-height: 35px;
            margin-bottom: 15px;
        }

        .description {
            font-size: 16px;
        }

        .button {
            margin-top: 83px;
        }
    }
}

// general styles 

.block-newsletter {
    form .form-item-captcha-description {
        margin: 40px 0 0;
    }

    .form-item {
        legend {
            display: none;
        }

        .fieldset-wrapper .fieldset-wrapper {
            display: grid;
            gap: 18px;
            grid-template-columns: repeat(2, 1fr);

            input {
                width: 100%;

                &:focus-visible,
                &:focus {
                    border: none;
                    outline: none;
                }
            }
        }

        .form-type-select {
            border: 0;
            color: $blackTxt;
            font-family: "Palanquin";
            font-size: 14px;
            grid-column: span 2;
            height: auto;
            position: relative;

            input {
                border: 0;
                border: none;
                color: $gray;
                cursor: pointer;
                font-size: 14px;
            }

            .select2-selection {
                &__rendered {
                    align-items: center;
                    display: flex;
                    flex-wrap: wrap;
                    font-family: $thirdFont;
                    justify-content: flex-start;
                    outline: none;
                    overflow: visible;
                    padding: 0px 16px;
                    width: 100%;
                }

                &__choice {
                    background: $lightColor;
                    border: 0;
                    box-shadow: none;
                    color: $blackTxt;
                    cursor: pointer;
                    display: flex;
                    font-family: $thirdFont;
                    font-size: 14px;
                    gap: 6px;
                    line-height: 50px;
                    margin: 0;
                    min-height: 50px;

                    &__remove {
                        color: $secondColor;
                        font-size: 18px;
                        font-weight: lighter;
                        margin: 0;
                        position: static;
                        order: 2;
                    }
                }
            }

            .select2-container {
                &::after {
                    content: "\e903";
                    color: $secondColor;
                    font-family: "iconFont";
                    font-size: 16px;
                    position: absolute;
                    right: 18px;
                    transform: rotate(0);
                    transition: all .2s ease;
                    top: 18px;
                }

                &.select2-container--open::after {
                    transform: rotate(180deg);
                    transition: all .2s ease;
                }
            }
        }
    }
}

.select2-container--default .select2-results>.select2-results__options {
    background: $lightColor;
    border: 0;
    border-bottom: 1px solid $border;
    box-shadow: none;
    color: $placeholder;
    cursor: pointer;
    font-size: 14px;
    overflow: auto;
    padding: 0 0 10px;
    padding-left: 16px;
}

.select2-container--default .select2-results>.select2-results__options .select2-results__option {
    border-top: 1px solid $border;
    color: $placeholder;
    margin: 0 0px;
    padding: 10px 0;
}

.select2-container--default .select2-results>.select2-results__options .select2-results__option[aria-selected=true],
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background: transparent;
    color: $secondColor;
    cursor: pointer;
    font-size: 14px;
}