/* colors */

$mainColor:#002d73; /*blue*/
$secondColor: #dd235c; /*red*/

$lightColor: #fff; /*white*/
$darkColor:#000; /*black*/
$blackTxt: #252525; /* dark gray*/
$gray: #888888; /*gray*/
$lightGray: #bbbbbb; /*light gray*/
$bk: #f4f4f4; /*bones*/
$placeholder: #959595;
$blockquote:#b2b2b2;
$border:#e4e4e4;
$greyTwo:#959897;

/* Fonts */

$mainFont:'Palanquin', sans-serif;
$secondFont: 'Palanquin Dark', sans-serif;
$thirdFont:'Open Sans', sans-serif;
$iconFont:'iconFont';